[submodule "public_regulated_data_types"]
	path = public_regulated_data_types
	url = git@github.com:OpenCyphal/public_regulated_data_types.git
[submodule "jeroboam"]
	path = jeroboam
	url = git@github.com:Association-Jeroboam/jeroboam_private_cyphal_datatypes.git
[submodule "jeroboam_datatypes"]
	path = jeroboam_datatypes
	url = git@github.com:Association-Jeroboam/jeroboam_private_cyphal_datatypes.git
